<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ghostware.GPS.NET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ghostware.GPS.NET.Properties.Settings>
            <setting name="File_Latitude_Header" serializeAs="String">
                <value>Latitude</value>
            </setting>
            <setting name="File_Longitude_Header" serializeAs="String">
                <value>Longitude</value>
            </setting>
        </Ghostware.GPS.NET.Properties.Settings>
    </applicationSettings>
</configuration>